{% extends 'base.html.twig' %}

{% block title %}Movie Search{% endblock %}

{% block body %}

<form method='post'>
	{{ form_row(form._token) }}
 	{{ form_row(form.value) }}
  	<button type="submit">Add review</button>
</form>

{% endblock %}