{% extends 'base.html.twig' %}

{% block title %}Movie Search{% endblock %}

{% block body %}

<form action="path">
  Movie title: <input type="text" name="title"><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}