{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}

<div class="row">
{% for item in movies %}
	{% if loop.index % 4 == 0 %}
		<div class="row">
	{% endif %}
		<div class="col-md-3">
		<a href='{{ path('project_movie_movie', { 'movie': item.0 }) }}'><img src='{{item.1}}'></a> 
		</div>
	{% if loop.index % 4 == 0%}
		</div>
	{% endif %}
{% endfor %}
</div>

{% endblock %}