{% extends 'base.html.twig' %}

{% block title %}Movie Search{% endblock %}

{% block body %}

<ul>
{% for item in list %}

<li>{{item.Title}}, {{item.Year}}, <a href='/pp5/web/app.php/id/{{item.imdbID}}'>More</a></li>

{% endfor %}

{% endblock %}